.env
.env.*
!.env.example
env/
**/db_config.json
config/*.json
models/
*.pt
*.pth
*.onnx
*.safetensors
*.sql
*.db
*.sqlite*
*.ipynb
*.pdf
*.png
*.jpg
*.jpeg
*.zip
*.tar
*.egg
storage_web/
logs/
__pycache__/
*.py[cod]
.venv/
.idea/
.DS_Store
.ipynb_checkpoints/
