<div class="modal" id="dbModal" aria-hidden="true">
  <div class="modalBackdrop" data-close="1"></div>
  <div class="modalBody">
    <div class="modalHeader">
      <div class="modalTitle">DB 설정</div>
      <button class="btn btn-ghost" data-close="1">닫기</button>
    </div>
    <div class="modalContent">
      <div class="row">
        <label class="label">Host</label>
        <input id="dbHost" type="text" />
      </div>
      <div class="row">
        <label class="label">Port</label>
        <input id="dbPort" type="number" />
      </div>
      <div class="row">
        <label class="label">User</label>
        <input id="dbUser" type="text" />
      </div>
      <div class="row">
        <label class="label">Password</label>
        <input id="dbPassword" type="password" />
      </div>
      <div class="row">
        <button class="btn btn-primary" id="btnSaveDbConfig">저장</button>
      </div>
      <div class="hint" id="dbConfigHint"></div>
    </div>
  </div>
</div>


<div class="modal" id="ocrBulkDeleteModal" aria-hidden="true">
  <div class="modalBackdrop" data-close="1"></div>
  <div class="modalBody">
    <div class="modalHeader">
      <div class="modalTitle">열 삭제 확인</div>
      <button class="btn btn-ghost" id="ocrBulkDeleteModalClose" type="button">닫기</button>
    </div>
    <div class="modalContent">
      <p id="ocrBulkDeleteModalText">선택한 0개 열을 삭제하시겠습니까?</p>
      <div class="hint">삭제 후 복구할 수 없습니다. (직전 삭제 복구 버튼으로만 즉시 복구 가능)</div>
      <div class="row" style="margin-top:14px;">
        <button class="btn btn-danger" id="ocrBulkDeleteModalSubmit" type="button">삭제 실행</button>
        <button class="btn btn-ghost" id="ocrBulkDeleteModalCancel" type="button">취소</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="ocrRowBulkDeleteModal" aria-hidden="true">
  <div class="modalBackdrop" data-close="1"></div>
  <div class="modalBody">
    <div class="modalHeader">
      <div class="modalTitle">행 삭제 확인</div>
      <button class="btn btn-ghost" id="ocrRowBulkDeleteModalClose" type="button">닫기</button>
    </div>
    <div class="modalContent">
      <p id="ocrRowBulkDeleteModalText">선택한 0개 행을 삭제하시겠습니까?</p>
      <div class="hint">삭제 후 복구할 수 없습니다. (직전 삭제 복구 버튼으로만 즉시 복구 가능)</div>
      <div class="row" style="margin-top:14px;">
        <button class="btn btn-danger" id="ocrRowBulkDeleteModalSubmit" type="button">삭제 실행</button>
        <button class="btn btn-ghost" id="ocrRowBulkDeleteModalCancel" type="button">취소</button>
      </div>
    </div>
  </div>
</div>
